{% load wagtailcore_tags %}
{% load i18n %}

<div class="customform">
    <form action="{% url 'customforms:submit' value.pk %}" method="POST">
        {% csrf_token %}
        {% if form_title %}
        <div class="customform-title">{{ form_title }}</div>
        {% endif %}
        {{ form }}
        <button type="submit"{% if button_alignment %} style="margin{% if button_alignment != 'center' %}-{{ button_alignment }}{% endif %}: auto;"{% endif %}>{% trans 'Submit' %}</button>
    </form>
</div>
